<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Paleontology Claw Clips</title>
    <link rel="stylesheet" href="../../public/assets/css/style.css"
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  </head>
  <body>
    {{{body}}}
    <script src="/public/assets/js/app.js"
  </body>
</html>
