<div>
  <h1>Paleontology Claw Clips</h1>
  <div>
    <ul>
      {{#each articles}}
        <li>
          <p>Title: {{title}}</p>
          <p>{{link}}</p>
          <img src="{{img}}">
        </li>
      {{/each}}
    </ul> 
  </div>     
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>